.neu-text {
  font-size: 50px;
  font-weight: bolder;
  font-family: "sans-serif";
  color: #121212;
  text-shadow: -3px -3px 5px #ffffff70, 3px 3px 0px #00000070;
}

.css-3603q-MuiTypography-root-MuiLink-root {
  color: white;
}
