@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Ms+Madi&family=Nunito:ital@1&display=swap");
* {
  margin: 0;
  font-family:  sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
